@charset "utf-8";
body {
    padding: 1em;
    font-family: "Helvetica Neue", "Consolas", Arial,  "Hiragino Kaku Gothic ProN",  "Hiragino Sans",  Meiryo,  sans-serif;

}
pre {
    font-family: "Consolas", Arial,  Meiryo,  sans-serif;
}
.border_1 {
    border-color: #6f;
		border-style: solid; 
    border-width: 1px;
}
